.welcome-screen {
    font-size: 24px;
    text-align: center;
    padding: 50px;
    background-color: #ff4757;
    color: white;
    font-weight: bold;
  }
  
  .dashboard {
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #161616;
    color: white;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .content h1 {
    margin-top: 20px;
    color: #5e3435;
  }
  